@font-face {
    font-family: 'CheddarJack'; /*a name to be used later*/
    src: url('../fonts/cheddarjack.ttf'); /*URL to font*/
}

h1 {
    font-family: 'CheddarJack';
    font-size: 300%;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

a, p {
    font-family: 'Raleway', sans-serif;
}

p {
    letter-spacing: .8px;
    line-height: 1.6;
}

#end {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
}

img {
    width: auto;
    height: 250px;
}

[type=text], [type=email], textarea {
    width: 100%;
    display: block;
    border: 1px solid #dee0e0;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#nav-name {
    font-family: 'CheddarJack';
    font-size: 250%;
}

.fab {
    font-size: 70px;
    color: #fe424d;
    padding-right: 20px;
}

#endcontainer {
    background-color: #daecf3;
}

/* .fab:hover {
    color: #022d41;
} */

/* #navbar {
    background: transparent !important;
} */

.jumbotron-fluid {
    margin-bottom: 0px;
}

#saying {
    padding-top: 150px;
}

#nav-name, #name {
    color: #022d41 !important; 
}

.nav-link {
    color: #022d41 !important;
}

/* .header-bar {
    margin: 25px 0 75px 0;
    width: 70px;
    height: 4px;
    background: #444649;
    text-align: center!important;
} */

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

#fullpage {
    height: 100vh;
    color: white;
    /* background-color: #daecf3; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url("../images/desk.jpg");
    background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

#navbar {
    background-color: #daecf3 !important;
}

#name {
    font-family: 'CheddarJack';
    font-size: 250%;

}

#about, #skills {
    padding-top: 20px;
}

footer {
    background-color: #fe424d;
    
}

[type=button] {
}

a.btn, [type=submit] {
    display: inline-block;
    -webkit-appearance: none;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
    background-color: #fe424d;
    background-size: 300% auto;
    color: #fff;
    border: 0;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: 2px 3px 8px rgba(0,0,0,.1);
    box-shadow: 2px 3px 8px rgba(0,0,0,.1);
    cursor: pointer;
}

a.btn:hover {
    background-color: #fe424d;
}

/* Small devices (landscape phones, 400px and up) */
@media (min-width: 400px) {
    #nav-name {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #nav-name {
        display: none;
    }
    h1 {
        font-size: 500%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #name {
        display: none;
    }
    #nav-name {
        display: list-item;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
}